USE [ZombieHordeDefenseDB]
GO
/****** Object:  Table [dbo].[BitacoraZombiesEliminados]    Script Date: 21/06/2025 6:13:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraZombiesEliminados](
	[RegistroAuditoriaId] [int] IDENTITY(1,1) NOT NULL,
	[ZombieId] [int] NOT NULL,
	[SimulacionId] [int] NOT NULL,
	[TipoAccion] [nvarchar](50) NULL,
	[FechaAccion] [datetime] NULL,
	[UsuarioSistema] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistroAuditoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Simulacion]    Script Date: 21/06/2025 6:13:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simulacion](
	[SimulacionId] [int] IDENTITY(1,1) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[TiempoDisponibleSegundos] [int] NOT NULL,
	[BalasDisponibles] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SimulacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoZombie]    Script Date: 21/06/2025 6:13:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoZombie](
	[TipoZombieId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[NivelAmenaza] [int] NOT NULL,
	[TiempoDisparoSegundos] [int] NOT NULL,
	[BalasRequeridas] [int] NOT NULL,
	[PuntajeOtorgado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoZombieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zombie]    Script Date: 21/06/2025 6:13:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zombie](
	[ZombieId] [int] IDENTITY(1,1) NOT NULL,
	[TipoZombieId] [int] NOT NULL,
	[Eliminado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ZombieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZombieEliminado]    Script Date: 21/06/2025 6:13:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZombieEliminado](
	[ZombieId] [int] NOT NULL,
	[SimulacionId] [int] NOT NULL,
	[PuntosObtenidos] [int] NOT NULL,
	[FechaEliminacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ZombieId] ASC,
	[SimulacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Simulacion] ON 

INSERT [dbo].[Simulacion] ([SimulacionId], [FechaCreacion], [TiempoDisponibleSegundos], [BalasDisponibles]) VALUES (1, CAST(N'2025-06-21T11:38:03.660' AS DateTime), 60, 10)
INSERT [dbo].[Simulacion] ([SimulacionId], [FechaCreacion], [TiempoDisponibleSegundos], [BalasDisponibles]) VALUES (2, CAST(N'2025-06-21T11:38:03.660' AS DateTime), 90, 20)
INSERT [dbo].[Simulacion] ([SimulacionId], [FechaCreacion], [TiempoDisponibleSegundos], [BalasDisponibles]) VALUES (3, CAST(N'2025-06-21T11:46:39.613' AS DateTime), 20, 10)
SET IDENTITY_INSERT [dbo].[Simulacion] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoZombie] ON 

INSERT [dbo].[TipoZombie] ([TipoZombieId], [Nombre], [NivelAmenaza], [TiempoDisparoSegundos], [BalasRequeridas], [PuntajeOtorgado]) VALUES (1, N'Corredor', 8, 2, 1, 100)
INSERT [dbo].[TipoZombie] ([TipoZombieId], [Nombre], [NivelAmenaza], [TiempoDisparoSegundos], [BalasRequeridas], [PuntajeOtorgado]) VALUES (2, N'Explosivo', 10, 5, 3, 300)
INSERT [dbo].[TipoZombie] ([TipoZombieId], [Nombre], [NivelAmenaza], [TiempoDisparoSegundos], [BalasRequeridas], [PuntajeOtorgado]) VALUES (3, N'Gordo', 5, 4, 2, 150)
SET IDENTITY_INSERT [dbo].[TipoZombie] OFF
GO
SET IDENTITY_INSERT [dbo].[Zombie] ON 

INSERT [dbo].[Zombie] ([ZombieId], [TipoZombieId], [Eliminado]) VALUES (1, 1, 0)
INSERT [dbo].[Zombie] ([ZombieId], [TipoZombieId], [Eliminado]) VALUES (2, 1, 0)
INSERT [dbo].[Zombie] ([ZombieId], [TipoZombieId], [Eliminado]) VALUES (3, 1, 0)
SET IDENTITY_INSERT [dbo].[Zombie] OFF
GO
INSERT [dbo].[ZombieEliminado] ([ZombieId], [SimulacionId], [PuntosObtenidos], [FechaEliminacion]) VALUES (1, 1, 100, CAST(N'2025-06-21T11:38:15.617' AS DateTime))
INSERT [dbo].[ZombieEliminado] ([ZombieId], [SimulacionId], [PuntosObtenidos], [FechaEliminacion]) VALUES (1, 4, 100, CAST(N'2025-06-21T11:58:41.923' AS DateTime))
INSERT [dbo].[ZombieEliminado] ([ZombieId], [SimulacionId], [PuntosObtenidos], [FechaEliminacion]) VALUES (1, 5, 100, CAST(N'2025-06-21T13:30:55.137' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TipoZomb__75E3EFCF7F739266]    Script Date: 21/06/2025 6:13:33 p. m. ******/
ALTER TABLE [dbo].[TipoZombie] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BitacoraZombiesEliminados] ADD  DEFAULT (getdate()) FOR [FechaAccion]
GO
ALTER TABLE [dbo].[BitacoraZombiesEliminados] ADD  DEFAULT (suser_sname()) FOR [UsuarioSistema]
GO
ALTER TABLE [dbo].[Simulacion] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[ZombieEliminado] ADD  DEFAULT (getdate()) FOR [FechaEliminacion]
GO
ALTER TABLE [dbo].[BitacoraZombiesEliminados]  WITH CHECK ADD FOREIGN KEY([ZombieId], [SimulacionId])
REFERENCES [dbo].[ZombieEliminado] ([ZombieId], [SimulacionId])
GO
ALTER TABLE [dbo].[Zombie]  WITH CHECK ADD FOREIGN KEY([TipoZombieId])
REFERENCES [dbo].[TipoZombie] ([TipoZombieId])
GO
ALTER TABLE [dbo].[ZombieEliminado]  WITH CHECK ADD FOREIGN KEY([SimulacionId])
REFERENCES [dbo].[Simulacion] ([SimulacionId])
GO
ALTER TABLE [dbo].[ZombieEliminado]  WITH CHECK ADD FOREIGN KEY([ZombieId])
REFERENCES [dbo].[Zombie] ([ZombieId])
GO
/****** Object:  Trigger [dbo].[tr_AuditoriaZombiesEliminados]    Script Date: 21/06/2025 6:13:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger para asignar registros a la tabla de auditoria
CREATE TRIGGER [dbo].[tr_AuditoriaZombiesEliminados] 
ON [dbo].[ZombieEliminado]
AFTER INSERT, DELETE
AS
BEGIN
	SET NOCOUNT ON;
    INSERT INTO BitacoraZombiesEliminados (ZombieId, SimulacionId, TipoAccion)
    SELECT ZombieId, SimulacionId, 'DELETE' FROM deleted;

END;
GO
ALTER TABLE [dbo].[ZombieEliminado] ENABLE TRIGGER [tr_AuditoriaZombiesEliminados]
GO
